*.jpg
*.png
*.pdf
*.tif
*.tiff
*.tmp
*.out
*.tar
*.gz
*.csv
*.pkl
*.ipynb

data
lib/build
results
snapshots
config.json
scripts/build
scripts/server_util.py
scripts/correct_results.py
scripts/collect_results.py
scripts/create_graph_for_paper.py
shells/validation.sh
models
models_
weights
experiment_*
memo

.DS_Store
sftp-config.json
.settings
deployment-config.json
.remote-sync.json
.ftpconfig
